/* COMMON */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    padding: 0;
}

li {
    margin: 0;
    list-style: none;
}

.line {
    color: red;
}


/* NAV */
.navbar-list {
    list-style-type: none;
    overflow: hidden;
}

.navbar-list .navbar-item {
    float: left
}

.navbar-list .navbar-item a {
    display: block;
    color: #24A2B7;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

/* WORKOUTS */
.workout-container {
    margin: 10px 0 10px 0;
}

.workout-container ul {
    border-bottom: 1px solid black;
}


/* LOGIN */
#login-form {
    display: block;
    margin : 25% auto;
    text-align: center;
}

.login-input {
    display: block;
    margin : 0 auto;
}

/* REGISTER */
#register-form {
    display: block;
    margin : 25% auto;
    text-align: center;
}

.register-input {
    display: block;
    margin : 0 auto;
}

/* CHART */
#chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    height:50px;
}

.navbar-brand {
    height: 60px;
    padding: 5px 0px;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: #F1F3F3;
    stroke: #777;
    stroke-width: 3px;
}

.hover-line {
    stroke: #777;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

#selections .col-md-4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* WORKOUT CHART */
.workouts-line {
    fill: none;
    stroke-width: 3px;
    stroke: #247BA0;
}



