/* COMMON */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul {
    padding: 0;
}

li {
    margin: 0;
    list-style: none;
}


/* NAV */

.auth-navbar-list {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

.auth-navbar-list .navbar-item {
    float: left
}

.auth-navbar-list .navbar-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.auth-navbar-list .navbar-item a:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
}


.unauth-navbar-list {
    list-style-type: none;
    overflow: hidden;
}
.unauth-navbar-list .navbar-item {
    float: right;
    margin: 5px;

}

.unauth-navbar-list .navbar-item a {
    display: block;
    color: white;
    background-color: #007bff;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.3rem;
}

/* WORKOUTS */
.workout-container {
    margin: 10px 0 10px 0;
}

.workout-container ul {
    border-bottom: 1px solid black;
}

/* USERS */


/* CHART */
#chart-area svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#logo {
    height:50px;
}

.navbar-brand {
    height: 60px;
    padding: 5px 0px;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #D4D8DA;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke-width: 2px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: #F1F3F3;
    stroke: #777;
    stroke-width: 3px;
}

.hover-line {
    stroke: #777;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

#selections .col-md-4 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.line {
    fill: none;
    stroke-width: 3px;
    stroke: grey;
}



